﻿@*@{
    ViewData["Title"] = "Home Page";
}*@

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
*@


@{
    ViewData["Title"] = "Home Page";
}

@model List<Book>
@inject IHttpContextAccessor accessor;
@using System.Security.Claims

@*@{
    ViewData["Title"] = "Index";
    Layout = "_AdvLayout";
}*@
<style>

    .fa-chevron-right, .fa-chevron-left {
        font-size: 3em;
        color: #59ab6e;
    }

    .grad {
        background: linear-gradient(to right, #59ab6e,darkgreen);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .carousel-indicators li {
        background-color: #59ab6e !important;
    }

    .hoverable-cards.card-img-overlay {
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }


    .hoverable-cards.card:hover .card-img-overlay {
        opacity: 0.9;
    }

    .hoverable-cards.card-body {
        background-color: rgba(0, 0, 0, 0.7);
        color: #fff;
        padding: 10px;
    }

    .hero-section div img {
        opacity: 0.3;
    }

    .trial-container {
        width: 80%;
        margin: 0 auto;
    }

    .hoverable-cards.card-img-overlay {
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    .hoverable-cards.card:hover .card-img-overlay {
        opacity: 0.9;
    }

    .hoverable-cards.card-body {
        background-color: rgba(0, 0, 0, 0.7);
        color: #fff;
        padding: 10px;
    }
</style>



<div class="trial-container">
    <form asp-controller="Book" asp-action="SearchBook" method="get">
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="search" placeholder="Enter search keyword...">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>
    <div class="row row-cols-4 g-4 flex-wrap">
        @foreach (var book in Model)
        {
            <div class="col-md-4">
                <div class="card text-center bg-dark text-white hoverable-cards" style="width:17rem; height:30rem;">
                    <img class="card-img-top" src="/Images/@book.Image" alt="Category Image" style="width:17rem; height:30rem;">
                    <div class="card-body card-img-overlay d-grid align-content-lg-center align-items-center hoverable-cards " style="width:17rem; height:30rem;">
                        <h4 class="card-title mb-3">@book.Name</h4>
                        <h4 class="card-title mt-3 mb-3">Written By: @book.Author</h4>
                        <a href="/Book/details/@book.Id" class="btn btn-success ">Check Details</a>
                    </div>
                </div>
            </div>
        }   
    </div>
</div>






















@*<section class="Categories pb-5 bg-light">
    <h2 class="text-center pt-5 pb-5 grad">Find Your Next Favorite Genre: Top Categories at the Tower of Babel</h2>
    <div class="trial-container">
        <hr class="mt-2 mb-5" />
        <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-4 flex-wrap">
            @foreach (var category in Model.Categories)
            {
                <div class="col">
                    <div class="card text-center bg-dark text-white hoverable-cards" style="width:22rem; height:40rem;">
                        <img class="card-img-top" src="/Images/@category.Image" alt="Category Image" style="width:22rem; height:40rem;">
                        <div class="card-body card-img-overlay d-grid align-content-lg-center align-items-center hoverable-cards" style="width:22rem; height:40rem;">
                            <h4 class="card-title mb-3">@category.Name</h4>
                            <p class="card-text ">@category.Description</p>
                            <a asp-controller="book" asp-action="CategoryBooks" asp-route-id="@category.Id" class="btn btn-success ">Explore @category.Name </a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>*@


@*<hr class="mt-5 mb-3" />
<section class="bg-light">
    @{
        await Html.RenderPartialAsync("_reviewPartial", new BookLibrary());
    }
</section>
<hr class="mt-5 mb-3" />*@